<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>About</title>
  </head>
  <body>
    <h1>About Meadowlark Travel</h1>
    <p>
      Your fortune of the day:
    </p>
    <blockquote>
      {{ fortune }}
    </blockquote>

  </body>
</html>
