<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Hood River</title>
  </head>
  <body>
    <h1>Hood River Tour</h1>
    <a class="requestGroupRate" href="/tours/request-group-rate">Request Group Rate.</a>

  </body>
</html>
